body {
    background-color: rgb(50, 50, 50);
    padding: 10px;
}
h1{
    color: white;
}
h2{
    color: white;
}
img{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}
p {
    color: rgb(212, 210, 210)
}
h3 {
    color: rgb(212, 210, 210)
}
.villanos {
    text-align: center;
    color: white;
    margin-top: 40px;
    padding: 20px;
}
.villanoscont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #222;
    padding: 100px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #444;
}
.villanospres img {
    flex: 1;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
footer p {
    text-align: center;
}
@media (max-width: 900px){
    .img-batman {
        max-width: 500px;
    }       
    }

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
        text-align: center;
    }
    p, ul {
        font-size: 1rem;
    }
    .img-batman {
        max-width: 100%;
    }
    .villanos {
        flex-direction: column;
    }
    .villanoscont {
        flex-direction: column;
    }
    } 
    